.App {
  text-align: center;
}

.App-header {
  position: absolute;
  top: 0px;
  /*background-color: black;*/
  height: 201px;
  width: 1920px;
  padding: 0px;
  margin: 0px;
  z-index: -1;
  color: white
}

.header-left{
  position: absolute;
  top: 0px;
  background-color: black;
  height: 201px;
  width: 1440px;
  padding: 0px;
  margin: 0px;
}

.header-background {
  position: absolute;
  top: 0px;
  right: 400px;
  padding: 0px;
  margin: 0px;
}

.header-right {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  height: 130.5px;
  width: 400px;
  padding: 0px;
  margin: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
